:root {
  --size: 4;
  --timer: 50;
  --stroketimer:0.500;
  --strokelen: 50;
  --blocksize: @blocksize + (2 * @border);
}
@timer: 300ms;
@blocksize: 50px;
@border: 4px;
@size: 4;

.bodywidth() {
    @media screen and (min-width: 769px) {
    margin-left: 33%;
    margin-right: 33%;
  }
  
  @media screen and (max-width: 768px) {
    margin-left: 5%;
    margin-right: 5%;
  }
}

body {
  border: 1px solid black;
  border-radius: @border;
  .bodywidth();
  height: 100%;
  }

footer {
	text-align: center;
	a {
	font-family: sans-serif;
	font-size: xx-small;
	text-decoration: none;
	}
}

div#header {
  text-align: center;
}

div#help {
  font-size: xx-small;
  text-align: center;
}

div#scores {
  width: (@blocksize + (2 * @border)) * @size + @border;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid grey;
  border-radius: @border;
  
  h2 {
    font-size: medium;
  }
  
  p {
    font-size: small;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
  
    span {
      text-align: right;
      float: right;
    }
  }
}

div#whiteout {
  display: none;
  position: fixed;
  z-index: 2;
  height: (@blocksize + (2 * @border)) * @size; 
  width: (@blocksize + (2 * @border)) * @size; 
  background-color: white;
  opacity: 0.8;
  }
div#youwon {
  display: none;
  position: fixed;
  z-index: 3;
  width: (@blocksize + (2 * @border)) * @size; 
  background-color: transparent;
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;
}
  
div#gameboard {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: @blocksize/2;
	width: (@blocksize + (2 * @border)) * @size; 
	border: @border solid grey;
	border-radius: @border;
	touch-action: none;
  cursor: pointer;
}
 
div#gametiles {
  display: block;
  position: relative;
}
div.row {
	display: block;
	height: (@blocksize + (2 * @border));
}
span.cell {
	display: inline-block;
	height: @blocksize;
	width: @blocksize;
	border: @border solid #F8F8F8;
}

span.tile {
	display: inline-block;
  position: absolute;
	text-align: center;
  vertical-align: middle;
  line-height: @blocksize + @border;
	height: @blocksize;
	width: @blocksize;
	border: @border solid grey;
	border-radius: @border;
	opacity: 0;
	font-size: x-large;
	font-family: courier, fixed, monospace;
	font-weight: bold;
	transition: top @timer, left @timer, opacity (@timer / 2);
	&::before {
		content: attr(value);
		height: @blocksize;
	}
	&:not([value]) {
	  background-color: white;
	  opacity: 0.3;
	}
	
	&[value="2"] {
    color: white;
    background: #485d68; }
  &[value="4"] {
    color: white;
    background: #2ca796; } 
  &[value="8"] {
    color: white;
    background: #8e4c0c; }
  &[value="16"] {
    color: white;
    background: #ac1d7f; }
  &[value="32"] {
    color: white;
    background: #ffc605; }
  &[value="64"] {
    color: white;
    background: #009dcd; }
  &[value="128"] {
    color: white;
    background: #007541;
    font-size: large; }
  &[value="256"] {
    color: white;
    background: #ff5500;
    font-size: large; }
  &[value="512"] {
    color: white;
    background: #bfcc09;
    font-size: large; }
  &[value="1024"] {
    color: white;
    background: #003669;
    font-size: medium;}
  &[value="2048"] {
    color: white;
    background: #f42c59;
    font-size: medium; }
  &[value="4096"] {
    color: white;
    background: #f42c59;
    font-size: medium; }
  &[value="8192"] {
    color: white;
    background: #f4382c;
    font-size: medium; }
  &[value="16384"] {
    color: white;
    background: #f46a2c;
    font-size: medium; }
  &[value="32768"] {
    color: white;
    background: #f49c2c;
    font-size: medium; }
  &[value="65536"] {
    color: black;
    background: #f4c72c;
    font-size: medium; }
  &[value="131072"] {
    color: black;
    background: #ffff00;
    font-size: small; }
    
	.generate-positions(4);
	
}

.generate-positions(@n, @i: 0) when (@i < (@n * @n)) {
  &[position="@{i}"] {
    top: floor(@i/4) * (@blocksize + (2 * @border));
    left: mod(@i,4) * (@blocksize + (2 * @border));
    }
    .generate-positions(@n, (@i + 1));
}
